10.行数のカウント

In [107]:
%%bash
wc -l hightemp.txt

      24 hightemp.txt

In [22]:
data = open("hightemp.txt", "r")
line_num = 0
for line in data:
    line_num = line_num + 1
data.close()
print(line_num)

24

11.タブをスペースに置換

In [39]:
%%bash
expand -t 1 hightemp.txt

高知県 江川崎 41 2013-08-12
埼玉県 熊谷 40.9 2007-08-16
岐阜県 多治見 40.9 2007-08-16
山形県 山形 40.8 1933-07-25
山梨県 甲府 40.7 2013-08-10
和歌山県 かつらぎ 40.6 1994-08-08
静岡県 天竜 40.6 1994-08-04
山梨県 勝沼 40.5 2013-08-10
埼玉県 越谷 40.4 2007-08-16
群馬県 館林 40.3 2007-08-16
群馬県 上里見 40.3 1998-07-04
愛知県 愛西 40.3 1994-08-05
千葉県 牛久 40.2 2004-07-20
静岡県 佐久間 40.2 2001-07-24
愛媛県 宇和島 40.2 1927-07-22
山形県 酒田 40.1 1978-08-03
岐阜県 美濃 40 2007-08-16
群馬県 前橋 40 2001-07-24
千葉県 茂原 39.9 2013-08-11
埼玉県 鳩山 39.9 1997-07-05
大阪府 豊中 39.9 1994-08-08
山梨県 大月 39.9 1990-07-19
山形県 鶴岡 39.9 1978-08-03
愛知県 名古屋 39.9 1942-08-02

In [40]:
%%bash
cat hightemp.txt | tr "\t" " "

高知県 江川崎 41 2013-08-12
埼玉県 熊谷 40.9 2007-08-16
岐阜県 多治見 40.9 2007-08-16
山形県 山形 40.8 1933-07-25
山梨県 甲府 40.7 2013-08-10
和歌山県 かつらぎ 40.6 1994-08-08
静岡県 天竜 40.6 1994-08-04
山梨県 勝沼 40.5 2013-08-10
埼玉県 越谷 40.4 2007-08-16
群馬県 館林 40.3 2007-08-16
群馬県 上里見 40.3 1998-07-04
愛知県 愛西 40.3 1994-08-05
千葉県 牛久 40.2 2004-07-20
静岡県 佐久間 40.2 2001-07-24
愛媛県 宇和島 40.2 1927-07-22
山形県 酒田 40.1 1978-08-03
岐阜県 美濃 40 2007-08-16
群馬県 前橋 40 2001-07-24
千葉県 茂原 39.9 2013-08-11
埼玉県 鳩山 39.9 1997-07-05
大阪府 豊中 39.9 1994-08-08
山梨県 大月 39.9 1990-07-19
山形県 鶴岡 39.9 1978-08-03
愛知県 名古屋 39.9 1942-08-02

In [46]:
%%bash
sed -e 's/<tab>/<space>/g' hightemp.txt

高知県	江川崎	41	2013-08-12
埼玉県	熊谷	40.9	2007-08-16
岐阜県	多治見	40.9	2007-08-16
山形県	山形	40.8	1933-07-25
山梨県	甲府	40.7	2013-08-10
和歌山県	かつらぎ	40.6	1994-08-08
静岡県	天竜	40.6	1994-08-04
山梨県	勝沼	40.5	2013-08-10
埼玉県	越谷	40.4	2007-08-16
群馬県	館林	40.3	2007-08-16
群馬県	上里見	40.3	1998-07-04
愛知県	愛西	40.3	1994-08-05
千葉県	牛久	40.2	2004-07-20
静岡県	佐久間	40.2	2001-07-24
愛媛県	宇和島	40.2	1927-07-22
山形県	酒田	40.1	1978-08-03
岐阜県	美濃	40	2007-08-16
群馬県	前橋	40	2001-07-24
千葉県	茂原	39.9	2013-08-11
埼玉県	鳩山	39.9	1997-07-05
大阪府	豊中	39.9	1994-08-08
山梨県	大月	39.9	1990-07-19
山形県	鶴岡	39.9	1978-08-03
愛知県	名古屋	39.9	1942-08-02

In [32]:
data= open("hightemp.txt", "r")
write_data = open("hightemp_b.text", "w")
line_data = []
for line in data:
    write_data.write(line.replace("\t"," "))
write_data.close()
data.close()

In [33]:
%%bash
cat hightemp_b.text

高知県 江川崎 41 2013-08-12
埼玉県 熊谷 40.9 2007-08-16
岐阜県 多治見 40.9 2007-08-16
山形県 山形 40.8 1933-07-25
山梨県 甲府 40.7 2013-08-10
和歌山県 かつらぎ 40.6 1994-08-08
静岡県 天竜 40.6 1994-08-04
山梨県 勝沼 40.5 2013-08-10
埼玉県 越谷 40.4 2007-08-16
群馬県 館林 40.3 2007-08-16
群馬県 上里見 40.3 1998-07-04
愛知県 愛西 40.3 1994-08-05
千葉県 牛久 40.2 2004-07-20
静岡県 佐久間 40.2 2001-07-24
愛媛県 宇和島 40.2 1927-07-22
山形県 酒田 40.1 1978-08-03
岐阜県 美濃 40 2007-08-16
群馬県 前橋 40 2001-07-24
千葉県 茂原 39.9 2013-08-11
埼玉県 鳩山 39.9 1997-07-05
大阪府 豊中 39.9 1994-08-08
山梨県 大月 39.9 1990-07-19
山形県 鶴岡 39.9 1978-08-03
愛知県 名古屋 39.9 1942-08-02

12.1列目をcol1.txt1に，2列目をcol2.txtに保存

In [57]:
data = open("hightemp.txt", "r")
col1 = open("col1.txt", "w")
col2 = open("col2.txt", "w")
column1 = []
column2 = []
tmp_data = []
for line in data:
    tmp_data = line.split("\t")
    col1.write(tmp_data[0]+"\n")
    col2.write(tmp_data[1]+"\n")
data.close()
col1.close()
col2.close()

In [58]:
%%bash
cat col1.txt
cat col2.txt

高知県
埼玉県
岐阜県
山形県
山梨県
和歌山県
静岡県
山梨県
埼玉県
群馬県
群馬県
愛知県
千葉県
静岡県
愛媛県
山形県
岐阜県
群馬県
千葉県
埼玉県
大阪府
山梨県
山形県
愛知県
江川崎
熊谷
多治見
山形
甲府
かつらぎ
天竜
勝沼
越谷
館林
上里見
愛西
牛久
佐久間
宇和島
酒田
美濃
前橋
茂原
鳩山
豊中
大月
鶴岡
名古屋

In [64]:
%%bash
cut -f 1 hightemp.txt
cut -f 2 hightemp.txt

高知県
埼玉県
岐阜県
山形県
山梨県
和歌山県
静岡県
山梨県
埼玉県
群馬県
群馬県
愛知県
千葉県
静岡県
愛媛県
山形県
岐阜県
群馬県
千葉県
埼玉県
大阪府
山梨県
山形県
愛知県
江川崎
熊谷
多治見
山形
甲府
かつらぎ
天竜
勝沼
越谷
館林
上里見
愛西
牛久
佐久間
宇和島
酒田
美濃
前橋
茂原
鳩山
豊中
大月
鶴岡
名古屋

13.col1.txtとcol2.txtをマージ

In [85]:
data1 = open("col1.txt", "r")
data2 = open("col2.txt", "r")
out = open("col12.txt", "w")
for line1, line2 in zip(data1, data2):
    out.write(line1.strip()+"\t"+line2.strip()+"\n")
data1.close()
data2.close()
out.close()

In [86]:
%%bash
cat col12.txt

高知県	江川崎
埼玉県	熊谷
岐阜県	多治見
山形県	山形
山梨県	甲府
和歌山県	かつらぎ
静岡県	天竜
山梨県	勝沼
埼玉県	越谷
群馬県	館林
群馬県	上里見
愛知県	愛西
千葉県	牛久
静岡県	佐久間
愛媛県	宇和島
山形県	酒田
岐阜県	美濃
群馬県	前橋
千葉県	茂原
埼玉県	鳩山
大阪府	豊中
山梨県	大月
山形県	鶴岡
愛知県	名古屋

In [84]:
%%bash
paste col1.txt col2.txt

高知県	江川崎
埼玉県	熊谷
岐阜県	多治見
山形県	山形
山梨県	甲府
和歌山県	かつらぎ
静岡県	天竜
山梨県	勝沼
埼玉県	越谷
群馬県	館林
群馬県	上里見
愛知県	愛西
千葉県	牛久
静岡県	佐久間
愛媛県	宇和島
山形県	酒田
岐阜県	美濃
群馬県	前橋
千葉県	茂原
埼玉県	鳩山
大阪府	豊中
山梨県	大月
山形県	鶴岡
愛知県	名古屋

14.先頭からN行を出力

In [90]:
N = int(input())
data = open("hightemp.txt", "r")
for i, line in enumerate(data):
    if(i==N):
        break
    print(line)
data.close()

3
高知県	江川崎	41	2013-08-12

埼玉県	熊谷	40.9	2007-08-16

岐阜県	多治見	40.9	2007-08-16

In [89]:
%%bash
head -n 3 hightemp.txt

高知県	江川崎	41	2013-08-12
埼玉県	熊谷	40.9	2007-08-16
岐阜県	多治見	40.9	2007-08-16

15.末尾のN行を出力

In [103]:
N = int(input())
try:
    data = open("hightemp.txt","r")
    list_data = []
    for line in data:
        list_data.append(line)
    num = len(list_data)
    for line in list_data[num-N:num]:
        print(line)
except Exception as e:
    print(e)
finally:
    data.close()

3
山梨県	大月	39.9	1990-07-19

山形県	鶴岡	39.9	1978-08-03

愛知県	名古屋	39.9	1942-08-02

In [104]:
%%bash
tail -n 3 hightemp.txt

山梨県	大月	39.9	1990-07-19
山形県	鶴岡	39.9	1978-08-03
愛知県	名古屋	39.9	1942-08-02

16.ファイルをN分割する

In [47]:
import os 
N = int(input())
seperater = os.linesep
with open("hightemp.txt") as file:
    data = file.read().split(seperater)
    print(data)
    n = len(data)
    l = n // N
    sepl = [data[i*l:(i+1)*l] if (i+1)*l < n else data[i*l:] for i in range(N)]
    print(sepl)

5
['高知県\t江川崎\t41\t2013-08-12', '埼玉県\t熊谷\t40.9\t2007-08-16', '岐阜県\t多治見\t40.9\t2007-08-16', '山形県\t山形\t40.8\t1933-07-25', '山梨県\t甲府\t40.7\t2013-08-10', '和歌山県\tかつらぎ\t40.6\t1994-08-08', '静岡県\t天竜\t40.6\t1994-08-04', '山梨県\t勝沼\t40.5\t2013-08-10', '埼玉県\t越谷\t40.4\t2007-08-16', '群馬県\t館林\t40.3\t2007-08-16', '群馬県\t上里見\t40.3\t1998-07-04', '愛知県\t愛西\t40.3\t1994-08-05', '千葉県\t牛久\t40.2\t2004-07-20', '静岡県\t佐久間\t40.2\t2001-07-24', '愛媛県\t宇和島\t40.2\t1927-07-22', '山形県\t酒田\t40.1\t1978-08-03', '岐阜県\t美濃\t40\t2007-08-16', '群馬県\t前橋\t40\t2001-07-24', '千葉県\t茂原\t39.9\t2013-08-11', '埼玉県\t鳩山\t39.9\t1997-07-05', '大阪府\t豊中\t39.9\t1994-08-08', '山梨県\t大月\t39.9\t1990-07-19', '山形県\t鶴岡\t39.9\t1978-08-03', '愛知県\t名古屋\t39.9\t1942-08-02', '']
[['高知県\t江川崎\t41\t2013-08-12', '埼玉県\t熊谷\t40.9\t2007-08-16', '岐阜県\t多治見\t40.9\t2007-08-16', '山形県\t山形\t40.8\t1933-07-25', '山梨県\t甲府\t40.7\t2013-08-10'], ['和歌山県\tかつらぎ\t40.6\t1994-08-08', '静岡県\t天竜\t40.6\t1994-08-04', '山梨県\t勝沼\t40.5\t2013-08-10', '埼玉県\t越谷\t40.4\t2007-08-16', '群馬県\t館林\t40.3\t2007-08-16'], ['群馬県\t上里見\t40.3\t1998-07-04', '愛知県\t愛西\t40.3\t1994-08-05', '千葉県\t牛久\t40.2\t2004-07-20', '静岡県\t佐久間\t40.2\t2001-07-24', '愛媛県\t宇和島\t40.2\t1927-07-22'], ['山形県\t酒田\t40.1\t1978-08-03', '岐阜県\t美濃\t40\t2007-08-16', '群馬県\t前橋\t40\t2001-07-24', '千葉県\t茂原\t39.9\t2013-08-11', '埼玉県\t鳩山\t39.9\t1997-07-05'], ['大阪府\t豊中\t39.9\t1994-08-08', '山梨県\t大月\t39.9\t1990-07-19', '山形県\t鶴岡\t39.9\t1978-08-03', '愛知県\t名古屋\t39.9\t1942-08-02', '']]

In [45]:
%%bash
var=`cat hightemp.txt | wc -l`
input=4
len=`expr $var / $input`
split -l $len hightemp.txt hightemp-
ls -l hightemp*

-rw-r--r--  1 kerneltyu  staff  211 May 13 13:01 hightemp-aa
-rw-r--r--  1 kerneltyu  staff  201 May 13 13:01 hightemp-ab
-rw-r--r--  1 kerneltyu  staff  200 May 13 13:01 hightemp-ac
-rw-r--r--  1 kerneltyu  staff  201 May 13 13:01 hightemp-ad
-rw-r--r--@ 1 kerneltyu  staff  813 May 10 01:01 hightemp.txt
-rw-r--r--  1 kerneltyu  staff  813 May 10 01:59 hightemp_b.text

In [44]:
%%bash
rm hightemp-*

17.1列目の文字列の異なり

In [147]:
import os
sep = os.linesep
with open("hightemp.txt", encoding='utf-8') as file:
    data = file.read().split(sep)
first_data = []
for i, d in enumerate(data):
    dd = d.split('\t')[0]
    if(dd != ''):
        first_data.append(dd)

print(sorted(list(set(first_data))))

['千葉県', '和歌山県', '埼玉県', '大阪府', '山形県', '山梨県', '岐阜県', '愛媛県', '愛知県', '群馬県', '静岡県', '高知県']

In [148]:
%%bash
cat hightemp.txt | cut -f 1 > col1.txt
sort col1.txt | uniq
rm col1.txt

千葉県
埼玉県
大阪府
山形県
山梨県
岐阜県
愛媛県
愛知県
群馬県
静岡県
高知県
和歌山県

18.各行を3コラム目の数値の降順にソート

In [84]:
import os 
sep = os.linesep
def keyfunc(keyword):
    return keyword[2]
    
with open("hightemp.txt") as file:
    data = file.read().split(sep)
tdata = []
for line in data:
    if(line != ''):
        tdata.append(line.split('\t'))
        
sorted(tdata, key=keyfunc, reverse=True)
out_data = []
for line in sorted(tdata, key=keyfunc):
    out_data.append('\t'.join(line))
print(out_data)

['千葉県\t茂原\t39.9\t2013-08-11', '埼玉県\t鳩山\t39.9\t1997-07-05', '大阪府\t豊中\t39.9\t1994-08-08', '山梨県\t大月\t39.9\t1990-07-19', '山形県\t鶴岡\t39.9\t1978-08-03', '愛知県\t名古屋\t39.9\t1942-08-02', '岐阜県\t美濃\t40\t2007-08-16', '群馬県\t前橋\t40\t2001-07-24', '山形県\t酒田\t40.1\t1978-08-03', '千葉県\t牛久\t40.2\t2004-07-20', '静岡県\t佐久間\t40.2\t2001-07-24', '愛媛県\t宇和島\t40.2\t1927-07-22', '群馬県\t館林\t40.3\t2007-08-16', '群馬県\t上里見\t40.3\t1998-07-04', '愛知県\t愛西\t40.3\t1994-08-05', '埼玉県\t越谷\t40.4\t2007-08-16', '山梨県\t勝沼\t40.5\t2013-08-10', '和歌山県\tかつらぎ\t40.6\t1994-08-08', '静岡県\t天竜\t40.6\t1994-08-04', '山梨県\t甲府\t40.7\t2013-08-10', '山形県\t山形\t40.8\t1933-07-25', '埼玉県\t熊谷\t40.9\t2007-08-16', '岐阜県\t多治見\t40.9\t2007-08-16', '高知県\t江川崎\t41\t2013-08-12']

In [156]:
%%bash
sort -k 3 hightemp.txt

愛知県	名古屋	39.9	1942-08-02
山形県	鶴岡	39.9	1978-08-03
山梨県	大月	39.9	1990-07-19
大阪府	豊中	39.9	1994-08-08
埼玉県	鳩山	39.9	1997-07-05
千葉県	茂原	39.9	2013-08-11
群馬県	前橋	40	2001-07-24
岐阜県	美濃	40	2007-08-16
山形県	酒田	40.1	1978-08-03
愛媛県	宇和島	40.2	1927-07-22
静岡県	佐久間	40.2	2001-07-24
千葉県	牛久	40.2	2004-07-20
愛知県	愛西	40.3	1994-08-05
群馬県	上里見	40.3	1998-07-04
群馬県	館林	40.3	2007-08-16
埼玉県	越谷	40.4	2007-08-16
山梨県	勝沼	40.5	2013-08-10
静岡県	天竜	40.6	1994-08-04
和歌山県	かつらぎ	40.6	1994-08-08
山梨県	甲府	40.7	2013-08-10
山形県	山形	40.8	1933-07-25
埼玉県	熊谷	40.9	2007-08-16
岐阜県	多治見	40.9	2007-08-16
高知県	江川崎	41	2013-08-12

19.各行の1コラム目の文字列の出現頻度を求め，出現頻度の高い順に並べる

In [173]:
import os 
import numpy as np
sep = os.linesep

with open("hightemp.txt") as file:
    data = file.read().split(sep)
tdata = []
table = []
for line in data:
    if(line != ''):
        tdata.append(line.split('\t')[0])
        table.append(line.split('\t'))
dic = {}
bases = list(set(tdata))
values = [0 for i in range(len(bases))]
zipped = zip(bases, values)
d = {b:v for b,v in zipped}
for line in tdata:
    d[line] += 1

for dat, val in zip(d.keys(), d.values()):
    for line in table:
        if(line[0] == dat):
            line.append(val)
keyvalue = lambda key: key[4]
print(sorted(table, key=keyvalue, reverse=True))

[['埼玉県', '熊谷', '40.9', '2007-08-16', 3], ['山形県', '山形', '40.8', '1933-07-25', 3], ['山梨県', '甲府', '40.7', '2013-08-10', 3], ['山梨県', '勝沼', '40.5', '2013-08-10', 3], ['埼玉県', '越谷', '40.4', '2007-08-16', 3], ['群馬県', '館林', '40.3', '2007-08-16', 3], ['群馬県', '上里見', '40.3', '1998-07-04', 3], ['山形県', '酒田', '40.1', '1978-08-03', 3], ['群馬県', '前橋', '40', '2001-07-24', 3], ['埼玉県', '鳩山', '39.9', '1997-07-05', 3], ['山梨県', '大月', '39.9', '1990-07-19', 3], ['山形県', '鶴岡', '39.9', '1978-08-03', 3], ['岐阜県', '多治見', '40.9', '2007-08-16', 2], ['静岡県', '天竜', '40.6', '1994-08-04', 2], ['愛知県', '愛西', '40.3', '1994-08-05', 2], ['千葉県', '牛久', '40.2', '2004-07-20', 2], ['静岡県', '佐久間', '40.2', '2001-07-24', 2], ['岐阜県', '美濃', '40', '2007-08-16', 2], ['千葉県', '茂原', '39.9', '2013-08-11', 2], ['愛知県', '名古屋', '39.9', '1942-08-02', 2], ['高知県', '江川崎', '41', '2013-08-12', 1], ['和歌山県', 'かつらぎ', '40.6', '1994-08-08', 1], ['愛媛県', '宇和島', '40.2', '1927-07-22', 1], ['大阪府', '豊中', '39.9', '1994-08-08', 1]]

In [172]:
%%bash
cut -f 1 hightemp.txt > col1.txt
sort col1.txt | uniq -c > colc.txt
sort -t 1 --reverse colc.txt

   3 群馬県
   3 山梨県
   3 山形県
   3 埼玉県
   2 静岡県
   2 愛知県
   2 岐阜県
   2 千葉県
   1 和歌山県
   1 高知県
   1 愛媛県
   1 大阪府